<template>
  <Layout>
  
    <h1 style="color: #00835c;">About Hello, Gridsome!</h1>
    <h2 style="font-size: 1rem;">Hello, Gridsome! exists as a playground as I learn about Vue.js and document my discoveries.</h2>
    <!--
    <p>Who am I, you might ask? My name is Dylan Gadwa - a freelance web developer and owner of <a href="https://eclat.digital">éclat.digital</a>, where I use the web to help people grow their business and further their personal goals.</p>
    -->
	<g-image src="~/frankenstein-girl-by-the-lake.jpg" style="padding: 20px 0px;" width="750px"/>
	<p style="text-align:right;">That's JavaScript on the left, yours truly there on the right.</p>
  
  
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About us'
  }
}
</script>
