<template>
  <Layout>
    <section class="intro">
	    <!-- ~ is an alias to /src/ folder. -->
	    <g-image src="~/hello-handsome.jpg" width="750px"/>
	    <!-- YouTube Video -->
	    <!-- https://youtu.be/WED9UNIdZbI?t=127 -->
	    
	    <h1 style="font-size: 3em; color: #00835c">Hello, Gridsome!</h1>
	    
	    <p>"You're a good looking fellow, do you know that? People laugh at you, people hate you, but why do they hate you? Because... they are JEALOUS!</p>
	    <p>Look at that boyish face! Look at that sweet smile! Do you wanna talk about physical strength? Do you want to talk about sheer muscle? Do you want to talk about the Olympian ideal? You are a GOD! And listen to me, you are not evil. You... are... GOOD!</p>
	    <p>This is a nice boy. This is a good boy. This is a mother's angel. And I want the world to know once and for all, and without any shame, that we love him! I'm going to teach you. I'm going to show you how to walk, how to speak, how to move, how to think. Together, you and I are going to make the greatest single contribution to science since the creation of fire!"</p>
    </section>
    
    <section class="build-info" style="margin: 50px 0px 100px;">
    	<h2 style="text-align: center; color: #00835c;">Content management by Netlify CMS</h2>
    	<div class="stack-logos" style="display: flex; justify-content: center;">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Netlify_CMS_logo.svg/1280px-Netlify_CMS_logo.svg.png" width="350px">
		</div>
      
      <h2 style="text-align: center; color: #00835c;">Tooled up with SASS</h2>
      <div class="build-features" style="display: flex; justify-content: center;">
        <a href="https://sass-lang.com/">
          <img src="https://sass-lang.com/assets/img/styleguide/color-1c4aab2b.png" width="80px">
        </a>
      </div>      
      
      
      
      <h2 style="text-align: center; color: #00835c;">
        Deployment via Netlify and Bitbucket
      </h2>
      <div class="build-features" style="display: flex; justify-content: center;">
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/press/logos/logomark.png" width="80px">
        </a>
        <a href="https://bitbucket.org">
          <img src="https://cdn.worldvectorlogo.com/logos/bitbucket-icon.svg" width="80px">
        </a>
      </div>		
	</section>
	
    <div class="home-links">
      <a href="https://gridsome.org/docs" target="_blank" rel="noopener">Gridsome Docs</a>
      <a href="https://gridsome.org/docs/guide-netlify-cms/" target="_blank" rel="noopener">Gridsome Netlify CMS Guide</a> 
      <a href="https://github.com/gridsome/gridsome" target="_blank" rel="noopener">GitHub</a>
    </div>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, Gridsome!'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
